[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Trident-Workshop/lib/openzeppelin-contracts"]
	path = Trident-Workshop/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Trident-Workshop/lib/chainlink"]
	path = Trident-Workshop/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lastHomework/lib/forge-std"]
	path = lastHomework/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
